@font-face {
  font-family: 'SFTransRobotics-Oblique';
  src: url('../fonts/SFTransRobotics-Oblique.ttf') format('opentype');
}


.greeting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h1{
    font-family: 'SFTransRobotics-Oblique', sans-serif;

    font-size: 44px;
    margin-bottom: 10px;
  }
  

.highlight{
  font-family: 'SFTransRobotics-Oblique', sans-serif;
  font-size: 25px;
    margin-bottom: 15px;
    color: #e6ab0b;
}

  p {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .rounded-image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
  }

  .nav-link{
    font-size: 20px;
    font-weight: bold;
  }